.input-area{
    background-color: lightblue;
    height: 8em;
    margin-bottom: 1em;
    width: 100%;
}
.submit-area{
    background-color: aquamarine;
    height: 4em;
    margin-bottom: 1em;
    width: 100%;
    border: 3cm;
}
.submit-area2{
    background-color: aquamarine;
    height: 4em;
    margin-bottom: 1em;
    width: 100%;
    border: 3cm;
}

.message-area{
    background-color: yellow;
    height: 2em;
    padding: 9px;
}
input{
    width: 300px;
}

.table-prod
{
    margin-left: 30%;
    margin-bottom: 50px;
     width: 100%;
    height: 200px;
    overflow: auto;
    display: inline-block;
}
